html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	top: 25%;
    font-family: Arial;
    background-color: #e0e0e0;
    color: #9e9e9e;
    text-align: center;
}

header {
	margin: 20px 0;
	padding: 0;
}
#searchForm {
	margin: 0 auto;
	width: 50%;
	white-space: nowrap;
}

#searchInput {
	box-sizing: border-box;
    padding: 5px 26px 5px 5px;	
	border: 0;
    border-radius: 4px;
    height: 30px;
	width: 100%;
}

#searchIcon {
    height: 16px;
    width: 16px;
    border: 0;
	margin-left: -26px;
	margin-bottom: -2px;
}
